<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <link href="app.less" type="text/css" rel="stylesheet/less">
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- Load require.js -->
  <script src="bower_components/requirejs/require.js"></script>
  <!-- Configure require.js config -->
  <script>
      requirejs.config({
          paths: {
              'angular': 'bower_components/angular/angular',
              'ui.utils': 'bower_components/angular-ui-utils/ui-utils',
              'ui.router': 'bower_components/angular-ui-router/release/angular-ui-router',
              'ngCookies': 'bower_components/angular-cookies/angular-cookies',
              'ngResource': 'bower_components/angular-resource/angular-resource',
              'moment': 'bower_components/moment/moment',
              '_': 'bower_components/underscore/underscore',
              /* Add bower components above */

              /* Add custom modules above */
          },
          shim: {
              'angular' : {'exports' : 'angular'},
              'ui.utils': { 'deps': ['angular'], exports: 'angular' },
              'ui.router': { 'deps': ['angular'], exports: 'angular' },
              'ngCookies': { 'deps': ['angular'], exports: 'angular' },
              'ngResource': { 'deps': ['angular'], exports: 'angular' },
              '_': {'exports': '_'},
              /* Add require.js shims above */
          }
      });
  </script>

  <!-- Main App JS -->
  <script>
      require(['app'], function () {

      });
  </script>

  <div>
    <div id="content" class="container">
      <div class="row">
          <ui-view autoscroll="false" />
      </div>
    </div>
  </div>

</body>
</html>
